
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
html {
    font-family: "Trebuchet, Arial", sans-serif;
}
.header {
    background-color: #466926;
    color: #ffffff;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align:center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #444444;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.onoffswitch {
    position: relative; width: 95px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}

.menucheckbox {
    display: none;
}

.menulabel {
    background-color :#90C55E;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block; overflow: hidden; cursor: pointer;
    height: 30px;
    color: white;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #696969; border-radius: 19px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 32px; padding: 0; line-height: 32px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}

.logrow {
    font-size: 14px; color: black; font-family: "Courier New", Courier, monospace;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 15px;
    background-color: #90C55E; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 15px;
    background-color: #FF0000; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 24px; margin: 6px;
    background: #CFCFCF;
    position: absolute; top: 0; bottom: 0;
    right: 59px;
    border: 2px solid #696969; border-radius: 19px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

#filters {
    padding: 20px 0px 20px 0px;
}

#settings {
    margin: 20px 50px 20px 50px;
    padding: 10px 10px 10px 10px;
    border-width:1px;
    border-style:solid;
    border-color: #cccccc;
}

#setting {
    padding: 10px 0px 10px 0px;
}

#alarmsettings{
    margin-left: auto;
    margin-right: auto;
    width: 95px;
}

#emailstext, #phonenumbertext {
    width: 100%;
    margin: 5px 0px 0px 0px;
}